extends layout


block content
   div(style="width;100%")
    div(style="width:50%;float:left")
        include ../public/jade/device.jade  
        p  Download  File
        -if(locals.fileList!=undefined){
              -  for(var  i  in  fileList){
                        a(href="/device/download?filename=#{fileList[i]}",target="_blank")  #{fileList[i]}
                        br
                    -}		    
          -}
    div(style="float:left")
     form(action="/device/upload", method="post", enctype="multipart/form-data")
       input(type="file", name="images",mutiple)
       br
       input(type="submit",value="Gửi")
     