p Ghi file và download
form(action="/device",method="post",name="test")
 input(type="text",name="filename",placeholder="Tên file")
 br
 textarea(name="content",placeholder="Nội dung")
 br
 input(type="submit",value="Gửi",onclick="showAlert('OK')")